/* About Me Section */
#about-me {
  color: #ccd6f6;
  padding: 12em 2em;
  background-color: #112240;
}

.about-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 2em;
}

/* Flip Card Styles */
.flip-card {
  background-color: transparent;
  width: 235px;
  height: 235px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.4s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1em;
  border-radius: 10px;
  font-size: 0.8rem;
}

.flip-card-back a {
  color: #007bff; /* Change the color to a more appealing one */
  text-decoration: none; /* Remove the underline */
  font-weight: bold; /* Make the text bold */
  transition: color 0.3s ease; /* Add a transition effect for color change */
}

.flip-card-back a:hover {
  color: #0056b3; /* Change the color on hover */
  text-decoration: underline; /* Add underline on hover */
}

.flip-card-front {
  background-color: #0a192f;
  color: #b0c7dd;
}

.flip-card-back {
  background-color: #233554;
  color: #ccd6f6;
  transform: rotateY(180deg);
}

.flip-card-back p,
.flip-card-back ul {
  text-align: center;
}

.flip-card-back ul {
  list-style-type: disc;
  margin: 1em 0;
  padding-left: 1.5em;
}

.flip-card-back li {
  font-size: 1rem;
  margin-bottom: 0.5em;
}

/* In The Press Section */
#in-the-press {
  padding: 2em 4em;
  background-color: #0a192f;
  color: #ccd6f6;
  max-width: 1200px; /* Add a max-width to control the width */
  margin: 0 auto;
}

#in-the-press h2 {
  text-align: center;
  margin-bottom: 1em;
  color: #b0c7dd;
}

.press-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1.5em;
  max-width: 1200px;
  justify-content: center;
}

.press-quote {
  padding: 1em;
  font-family: Arial, sans-serif;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: left;
  font-style: italic;
}

.press-quote-header {
  display: flex;
  align-items: center;
}

.press-quote-header h3 {
  margin: 0;
  font-size: 1em;
  color: #ccd6f6;
  margin-right: 0.5em;
}

.press-quote-header img,
.press-quote-header svg {
  max-width: 45px;
  height: auto;
}

.press-quote p {
  margin: 0;
  font-size: 0.9rem;
  color: #b0c7dd;
}

.washington-post {
  font-family: Georgia, serif;
}

.dagbladet {
  font-family: Verdana, sans-serif;
}

.openai {
  font-family: Courier New, monospace;
}

.nelson p {
  font-family: "Times New Roman", serif;
}

.openai-logo,
.nelson-logo,
.dagbladet-logo,
.washington-post-logo,
.rafael-logo,
.truls-logo {
  display: block;
  margin-bottom: 0.5rem;
}

.dagbladet-logo {
  max-width: 100px;
  max-height: 30px;
}

.washington-logo {
  max-width: 160px;
}

.openai-logo {
  max-width: 150px;
  max-height: 30px;
}

.nelson-logo {
  max-width: 100px;
  max-height: 30px;
}

/* Media Query for phones and tablets */
@media (max-width: 768px) {
  .flip-card-inner {
    cursor: pointer;
  }

  .flip-card-inner.clicked {
    transform: rotateY(180deg);
  }
}

/* Media Query for smaller screens */
@media (max-width: 480px) {
  .press-content {
    grid-template-columns: repeat(2, 1fr); /* 2 columns */
    grid-template-rows: repeat(3, auto); /* 3 rows */
    grid-gap: 1em;
  }

  .press-quote {
    font-size: 0.6em;
    padding: 0.1em;
    margin: 0.1em 0;
  }

  .press-quote p {
    font-size: 1.2em;
  }
}
