#about-me {
  color: #ccd6f6;
  padding: 2em 1em;
  background-color: #112240;
}

.same_top::after {
  height: 0px;
}

.about-content h1 {
  color: #b0c7dd;
  font-size: 2rem;
  margin: 1em 0;
  border-bottom: 2px solid #233554;
  padding-bottom: 0.5em;
  text-align: center;
}

.about-content p {
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 1em;
  text-align: center;
}

.about-content ul {
  list-style-type: disc;
  margin: 1em 0;
  padding-left: 1.5em;
}

.about-content li {
  font-size: 1rem;
  margin-bottom: 0.5em;
}

footer {
  background-color: #0a192f;
  color: #ccd6f6;
  text-align: center;
  padding: 1em 0;
}

.footer-content p {
  margin: 0;
  font-size: 0.875rem;
}
