body {
  font-family: "Inter", Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #0a192f;
}

.topnav {
  display: flex;
  justify-content: center;
  background-color: #0a192f;
  border-radius: 25px;
  padding: 5px 10px;
}

.topnav a {
  display: inline-block;
  font-size: 14px;
  padding: 8px 10px;
  text-decoration: none;
  color: #8892b0;
  background-color: #0a192f;
  border-radius: 20px;
  margin: 5px 3px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.topnav a:hover {
  background-color: #112240;
  color: #b0c7dd;
}

header {
  background-color: #0a192f;
  color: #ccd6f6;
  padding: 1em 0;
  text-align: center;
}

.profile_image_title {
  display: flex;
  align-items: center;
  background-color: #0a192f;
  color: #ccd6f6;
  padding: 1em 0;
}

.title {
  flex: 1;
  text-align: center;
  margin-right: 210px;
}

.name {
  font-size: 2.95rem;
  font-weight: 700;
  letter-spacing: -0.025em;
  color: #ccd6f6;
}

.profile_pic {
  width: 150px;
  height: 150px;
  margin-left: 40px;
  margin-right: 20px;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid #112240;
}

.fab,
.fa-brands {
  font-size: 16px;
  margin: 5px 10px;
  color: #8892b0;
  transition: transform 0.5s ease, color 0.5s ease;
  text-decoration: none;
}

.fab:hover,
.fa-brands:hover {
  transform: translateY(-5px);
  color: #b0c7dd;
}

.social-icons {
  margin-left: 10px;
  text-align: left;
}

.same_top {
  text-align: center;
  color: #ccd6f6;
  padding: 2em 0;
  position: relative;
  margin: 0;
  background-color: #0a192f;
  z-index: 1;
  min-height: 150px;
}

.same_top::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 7px;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0) 0%,
    #233554 50%,
    rgba(0, 0, 0, 0) 100%
  );
  z-index: 0;
}

.same_top h {
  margin: 0;
  position: relative;
  z-index: 2;
}

@media screen and (max-width: 768px) {
  .profile_pic {
    width: 100px;
    height: 100px;
  }

  .social-icons {
    margin-left: 20px;
  }
}

@media screen and (max-width: 480px) {
  .profile_pic {
    width: 75px;
    height: 75px;
  }

  .title {
    margin-right: 137px;
  }

  .name {
    font-size: 1rem;
  }

  .topnav a {
    font-size: 12px;
  }

  .fa {
    font-size: 20px;
    margin: 5px 5px;
  }

  .social-icons .fa {
    font-size: 16px;
    margin: 3px 3px;
  }
}
