.contact-container {
  text-align: center;
  width: 100vw;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-info a {
  color: #55677c;
  text-decoration: none;
}

.contact-info a:hover {
  color: #ffa500;
}

.contact-info p {
  font-size: 1.2rem;
}

.email-highlight {
  font-weight: bold;
  color: #ffa500;
  animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}
